beautifulsoup4==4.9.3
bs4
numpy==1.19.2
h5py==2.10.0
emoji==1.0.1 
flask==1.1.2
gensim==3.8.3
keras==2.3.1
nltk==3.4.4
spacy==3.0.1
urllib3==1.26.3
sumy==0.8.1
tensorflow==2.0.0
thinc==8.0.1
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl